# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.sqlite3
media/

# Environment variables
.env
.env.*

# IDE
.DS_Store
.idea/
*.swp
*.swo

# Docker
.dockerignore
